%fieldset
  %legend
    = controller.action_name.capitalize
    /Catalog
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :page_count, :class => 'control-label'
    .controls
      = f.number_field :page_count, :class => 'number_field'
  .control-group
    = f.label :drop_date, :class => 'control-label'
    .controls
      = f.date_select :drop_date, :class => 'date_select'
  .control-group
    = f.label :size, :class => 'control-label'
    .controls
      = f.text_field :size, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", catalogs_path, :class => 'btn'
