= simple_form_for @catalog, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :drop_date
  = f.input :size
  = f.input :initial_page_count, :label  => "Page Count"
  
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to "Cancel", catalogs_path, :class => 'btn'