%label{:class => "label"}= t("activerecord.attributes.catalog.name", :default => t("activerecord.labels.name", :default => "Name")) + ":"
%p= @catalog.name
%label{:class => "label"}= t("activerecord.attributes.catalog.page_count", :default => t("activerecord.labels.page_count", :default => "Page count")) + ":"
%p= @catalog.page_count
%label{:class => "label"}= t("activerecord.attributes.catalog.drop_date", :default => t("activerecord.labels.drop_date", :default => "Drop date")) + ":"
%p= @catalog.drop_date
%label{:class => "label"}= t("activerecord.attributes.catalog.size", :default => t("activerecord.labels.size", :default => "Size")) + ":"
%p= @catalog.size


- if @catalog.pages.count > 0
  = render :partial => "pages/show_pages", :locals => { :book  => @catalog }

.form-actions
  = link_to "Back", catalogs_path, :class => 'btn'
  = link_to "Edit", edit_catalog_path(@catalog), :class => 'btn'
  = link_to "Delete", catalog_path(@catalog), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-danger'
